*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(32, 31, 31);
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    
}
.hero{
    margin: auto;    
    width: 440px;
    background-color: rgb(61, 61, 61);
    border-radius: 15px;
    overflow: hidden;
    padding: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.hero_img{
    width: 80px;
   margin-left: 40%;
    margin-bottom: 10px;
    border-radius: 50%;
}
.hero_title{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 15px;
    color: white;
}
.hero_parrafo{
    text-align: center;
    padding-bottom: 20px;
    color: greenyellow;
    font-size: 1.1em;
}
.parrafo{
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font-size: .9em;
}
.hero_icono{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 350px;
    margin: auto;

}
.hero_icon1{
    color: white;
    text-decoration: none;
    background-color: gray;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
}
.hero_icon2{
    color: white;
    text-decoration: none;
    background-color: gray;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
}
.hero_icon3{
    color: white;
    text-decoration: none;
    background-color: gray;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
}
.hero_icon4{
    color: white;
    text-decoration: none;
    background-color: gray;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
}
.hero_icon5{
    color: white;
    text-decoration: none;
    background-color: gray;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
}

a:hover{
    color: beige;
}

